/* 
colors: 
background-color: rgb(159, 119, 16);
background-color: rgb(252, 207, 93);
background-color: rgb(219,191,118);
background-color: rgb(255, 243, 236);
background-color: rgb(255, 236, 223);
background-color: rgb(244,226,214);
background-color: rgb(177,136,214);
background-color: rgb(105,30,175);
background-color: rgb(70,18,118);




*/
/* UNIVERSAL CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: rgb(248, 226, 221);
}
/* WIDTH BRAEK FIX */
section {
  max-width: 100%;
  overflow-x: hidden;
}

/* HEADER CSS */

.max-width {
  margin: 0 auto;
  max-width: 120rem;
}

.primary-header {
  color: rgb(70, 18, 118);

  font-size: 4.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.secondary-header {
  font-size: 1.8rem;
  opacity: 0.9;
  color: rgb(105, 30, 175);
  font-weight: 500;
  margin-bottom: 0.8rem;
  font-family: "Playwrite NZ Basic", cursive;
}

/* REVEAL CSS */
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-in-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/*  */
.spline {
  display: none;
}
