@media (max-width: 1386px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 55%;
  }
  .max-width {
    margin: 0 auto;
    max-width: 100rem;
  }
  .services-cards {
    justify-content: space-around;
    align-items: center;
    column-gap: 1rem;
  }

  span {
    margin-right: 2rem;
  }
  .nav-link ul {
    display: flex;
    margin-right: 1rem;
    display: flex;
    gap: 0.3rem;
  }
}
@media (max-width: 1140px) {
  html {
    font-size: 50%;
  }
  .max-width {
    max-width: 90rem;
  }
  .container-max-width {
    max-width: 85%;
  }
  .services-cards {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    align-items: center;
    column-gap: 10rem;
    row-gap: 10rem;
  }

  .services-card {
    width: 40rem;
  }
  .nav-link ul {
    display: flex;
    margin-right: 1rem;
    display: flex;
    gap: 0.1rem;
  }

  .featured-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8rem;
    row-gap: 6rem;
    margin: 0 auto;
    justify-content: space-around;
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
  .featured-card {
    height: 35rem;
    width: 38rem;
  }
  .footer-content {
    grid-template-columns: 1fr 1fr;
  }
  .testimonial-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1028px) {
  #celebration {
    font-size: 5.5rem;
  }
  .hero-heading-primary {
    font-size: 6rem;
  }
  .hero-heading-secondary {
    font-size: 1.8rem;
  }
  .why-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 50%;
  }
  .nav-link ul {
    display: flex;
    margin-right: 1rem;
    display: flex;
    gap: 0.1rem;
  }
}
@media (max-width: 1000px) {
  .nav-link {
    display: none;
  }
  .menu-btn {
    display: block;
  }
  .nav-link-mobile {
    display: block;
  }

  .spline {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 180%;
    height: 100%;
  }
  .spline-ele {
    height: 85%;
  }
}
@media (max-width: 950px) {
  #celebration {
    font-size: 5rem;
  }
  .hero-heading-primary {
    font-size: 5.5rem;
  }
  .hero-heading-secondary {
    font-size: 1.6rem;
  }
}
@media (max-width: 860px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 769px) {
  .max-width {
    max-width: 70rem;
  }
  .container-max-width {
    max-width: 95%;
  }
  .spline {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 180%;
    height: 100%;
  }
  .spline-ele {
    height: 85%;
  }
  .services-cards {
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    row-gap: 3rem;
  }
  .services-card {
    height: 32rem;
    width: auto;
    padding: 4rem 3rem;
    background-color: rgb(251, 242, 221);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .featured-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 8rem;
    row-gap: 6rem;
  }
  .featured-card {
    height: 35rem;
    width: 100%;
  }
  .featured-card-content {
    height: 50%;
    width: 100%;
    text-align: left;
    position: absolute;
    bottom: -3rem;
    left: 2rem;
    right: 2rem;
  }
  .featured-card-content-primary {
    font-size: 2.5rem;
  }
  .featured-card-content-secondary {
    font-size: 1.8rem;
  }
  .featured-tag {
    font-size: 1.4rem;
  }

  .featured-card-content-teritiary {
    font-size: 1.6rem;
  }
  .why-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
  }
  .testimonial-cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 580px) {
  .max-width {
    max-width: 60rem;
  }
  .container-max-width {
    max-width: 100%;
  }
  .footer-content {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 40%;
  }
  .max-width {
    max-width: 50rem;
  }
  .nav-img {
    height: 5rem;
    object-fit: contain;
    margin-left: 1rem;
  }
  /* .hero-btn {
    padding: 0.8rem 1.8rem;
  }
  .hero-btn:hover {
    background-color: rgb(76, 0, 148);
  }
  .hero-btn a {
    font-size: 1.6rem;
  } */
  .spline {
    position: absolute;
    top: 62%;
    left: 52%;
    transform: translate(-50%, -50%);

    width: 180%;
    height: 100%;
  }
  .spline-ele {
    height: 75%;
  }
}
@media (max-width: 370px) {
  .max-width {
    max-width: 45rem;
  }
  .spline {
    position: absolute;
    top: 64%;
    left: 52%;
    transform: translate(-50%, -50%);

    width: 180%;
    height: 100%;
  }
  .spline-ele {
    height: 70%;
  }
}
