{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Imperial Admin</title>
    <link rel="stylesheet" href="{% static 'admins/css/style.css' %}">
</head>

<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="{% static 'images/material/logo/imperial_logo.png' %}" alt="">
            </div>
            <span class="logo_name">Imperial</span>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                
                <li><a href="{% url 'admin_home'%}">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Dashboard</span>
                    </a></li>
                
                <li style="border-top: 1px solid var(--border-color); margin: 10px 14px;"></li>

                <li><a href="{% url 'admin_booking'%}">
                        <i class="uil uil-calendar-alt"></i>
                        <span class="link-name">Booking Request</span>
                    </a></li>
                <li><a href="{% url 'admin_inquiry'%}">
                        <i class="uil uil-envelope-question"></i>
                        <span class="link-name">Enquiries</span>
                    </a></li>
                
                <li style="border-top: 1px solid var(--border-color); margin: 10px 14px;"></li>

                <li><a href="{% url 'admin_portfolio'%}">
                        <i class="uil uil-scenery"></i>
                        <span class="link-name">Portfolio</span>
                    </a></li>
                <li><a href="{% url 'admin_gallery'%}">
                        <i class="uil uil-images"></i>
                        <span class="link-name">Gallery</span>
                    </a></li>
                <li><a href="{% url 'team_admin'%}">
                        <i class="uil uil-users-alt"></i>
                        <span class="link-name">About</span>
                    </a></li>
                <li><a href="{% url 'manage_featured'%}">
                        <i class="uil uil-star"></i>
                        <span class="link-name">Featured</span>
                    </a></li>
                <li><a href="{% url 'admin_testimonials'%}">
                        <i class="uil uil-comment-alt-heart"></i>
                        <span class="link-name">Testimonials</span>
                    </a></li>
                <li><a href="{% url 'admin_careers'%}">
                        <i class="uil uil-briefcase"></i>
                        <span class="link-name">Career</span>
                    </a></li>
                <li><a href="{% url 'admin_facilities'%}">
                        <i class="uil uil-building"></i>
                        <span class="link-name">Facility</span>
                    </a></li>
                <li><a href="{% url 'admin_blog'%}">
                        <i class="uil uil-newspaper"></i>
                        <span class="link-name">Blog</span>
                    </a></li>
                
                <li style="border-top: 1px solid var(--border-color); margin: 10px 14px;"></li>

                <li><a href="{% url 'admin_faq'%}">
                        <i class="uil uil-question-circle"></i>
                        <span class="link-name">FAQ's</span>
                    </a></li>
                <li><a href="{% url 'admin_terms'%}">
                        <i class="uil uil-file-contract"></i>
                        <span class="link-name">Terms And Conditions</span>
                    </a></li>
                <li><a href="{% url 'admin_privacy'%}">
                        <i class="uil uil-shield-check"></i>
                        <span class="link-name">Privacy Policy</span>
                    </a></li>
                
            </ul>

            <ul class="logout-mode">
                <li><a href="{% url 'admin_logout' %}">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a></li>
                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>
                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>


    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>

            </div>

        <div class="content">
            <br><br>
            {% block content %}
            
            {% endblock  %}
        </div>
    
    </section>
        
    
    <script src="{% static 'admins/js/script.js' %}" ></script>
</body>

</html>